@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic&subset=latin,latin-ext);

body {
	/*font-family: 'Source Sans Pro';*/
	font-size: 15px;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #fff;
}

.navbar.navbar-inverse {
	background-color: #292929;
	border-bottom: none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), 0px 0px 30px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), 0px 0px 30px 0px rgba(0,0,0,0.3);
}

.navbar a {
	-webkit-transition: color 0.3s ease-out; 
	-moz-transition: color 0.3s ease-out; 
	-o-transition: color 0.3s ease-out; 
	transition: color 0.3s ease-out; 
}

.icon-elinko {
	font-size: 27px;
}

.navbar-search {
	color: #999;
	background-color: #3D3D3D;
	border: 1px solid #5E5E5E;
}

.navborder {
	float: left;
	height: 7px;
	width: 33.3333%;
}
.bar-1 {
	background-color: #f33e6f;
}
.bar-2 {
	background-color: #46bfbd;
}
.bar-3 {
	background-color: #fdb45c;
}

.block-span {
	display: block;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.1;
	border-radius: 4px;
	color: #999;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}

.table > tbody > tr > td.rma_details {
	padding: 0;
}

.details-wrapper {
	margin: 0 0 8px 0;
}

.input-row {
	margin-bottom: 1em;
}

.warning {
	border-color: #ebccd1;
	background-color: #f2dede;
}

.input-inline {
	margin: 2px;
	display: inline-block;
}

.input-inline.bottom {
	margin-top: 1em;
}

.page-header {
	padding-bottom: 9px;
	margin: 0 0 20px;
	border-bottom: 1px solid #eee;
}

.details-table, .rma-table {
	margin: 0;
	font-size: 12px;
}

.rma-link {
	color: black;
}

.status-warning {
	display: inline;
	padding: .4em 0.8em;
	font-weight: normal;
	line-height: 1;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 3px;
}

/* SZEROKOSCI KOLUMN NA LISCIE ZLECEN */
th.id-column {
	width: 2%;
}
th.status {
	width: 12%;
}
th.rma {
	width: 13%;
}
th.item {
	width: 22%;
}
th.client {
	width: 15%;
}
th.phone {
	width: 10%;
}
th.branch {
	width: 9%;
}
.edit-cell {
	width: 150px;
}
/* tabela detali*/
th.serial {
	width: 18%;
} 
th.document {
	width: 11%;
}
th.service {
	width: 9%;
}
th.description {
	width: 20%;
}
th.comment {
	width: 20%;
}
th.accessories {
	width: 15%;
}
th.netto, th.brutto {
	width: 7%;
}

/* Ustawienia */
.user-table-buttons {
	margin-bottom: 10px;
}

/* Wykresy */
.chartContainer {
	padding: 20px 0;
}

/* paginacja */
.pagination-wrapper {
	text-align: center;
}

/* stopka */
.credits {
	text-align: center;
	margin: 10px;
}